:root{
    --text-color: #FFF4FB;
    --title-color: #A787FF;
    --bg-color1 : #5B07F7;
    --bg-color2 : #4000B7;
    --bg-color3 : #2A007A;
    --bg-color4 : #14003A;
}

@font-face {
    font-family: "Roboto";
    font-weight: normal;
    src: url(ressources/fonts/Roboto-Thin.ttf);
}

@font-face {
    font-family: "Roboto";
    font-weight: bold;
    src: url(ressources/fonts/Roboto-Regular.ttf);
}

html {
    scroll-behavior: smooth;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: "Roboto";
}

body{
    background:none;
    overflow-x: hidden;
    overflow-y: auto;
}


::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-track {
    background: var(--bg-color3);
}

::-webkit-scrollbar-thumb {
    background: var(--bg-color1);
    border-radius: 3px;
}