:root{
    --text-color: #FFF4FB;
    --title-color: #A787FF;
    --bg-color1 : #5B07F7;
    --bg-color2 : #4000B7;
    --bg-color3 : #2A007A;
    --bg-color4 : #14003A;
}

@font-face {
    font-family: "Roboto";
    font-weight: normal;
    src: url(/ressources/fonts/Roboto-Thin.ttf);
}

@font-face {
    font-family: "Roboto";
    font-weight: bold;
    src: url(/ressources/fonts/Roboto-Regular.ttf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: "Roboto";
}

body{
    background:none;
    overflow-x: hidden;
    overflow-y: auto;
}

.welcome-section{
    width: 100vw;
    height: 100vh;
    box-sizing: content-box;
}

.welcome-section::before{
    content: "";
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background-image: url(/ressources/images/welcome_background.png);
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -1;
    position: absolute;
}

.navbar {
    position: fixed;
    top: 0;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(180deg, black 0%, rgba(0, 0, 0, 0) 100%);
}

.title{
    font-size: 2.5em;
    margin: 0.5em;
    color : var(--text-color);
    font-weight: bold;
}

.navbar-list ul{
    display: flex;
    margin-right: 10px;
}

.navbar-list ul li a{
    color: var(--title-color);
    padding:1em 0.5em 1em 0.5em;
    font-size: 2em;
    display: block;
    font-weight: bold;
}



.navbar-list ul li:hover{
    background: linear-gradient(180deg, var(--bg-color1) 0%, rgba(0, 0, 0, 0) 100%);
}

.welcome{
    border-radius: 25px;
    margin: 7% auto;
    width: 70%;
    background: var(--bg-color4);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.welcome-info{
    border-radius: 25px;
    width: auto;
    margin: 2%;
    padding: 2%;
    background: var(--bg-color3);
}

.welcome-info h1{
    font-weight: bold;
    font-size: 2.5em;
    text-align: center;
    padding: 2%;
    border-bottom: 3px var(--title-color) solid;
    color:var(--title-color);
}

.welcome-info p{
    text-align: justify;
    font-size: 1.5em;
    margin: 2% 1%;
    color:var(--text-color);
}

.welcome-info h3{
    text-align: justify;
    font-weight: normal;
    font-size: 1.7em;
    margin: 2% 1%;
    color:var(--title-color);
}

.photo{
    width: 45%;
    height: 45%;
    border-radius: 40px;
    padding: 2%;
}

.welcome-buttons{
    display: flex;
    justify-content: space-evenly;
}

.welcome-button{
    background: var(--bg-color4);
    padding: 2% 10%;
    font-size: 1.5em;
    color: var(--text-color);
    border-radius: 20px;
    transition: 0.3s;
    text-align: center;
    
}

.welcome-button:hover{
    color: var(--title-color);
    background-color: var(--bg-color3);
    box-shadow: -5px 5px var(--bg-color4);
}

.contacts{
    margin: 4%;
    display: flex;
    justify-content: space-evenly;
    background: var(--bg-color2);
    border-radius: 20px;
    box-shadow: -5px 5px var(--bg-color4);
}
.contacts i{
    color: var(--bg-color4);
    font-size: 3em;
    transition: 0.3s;
}

.contacts i:hover{
    color: var(--title-color);
}

.contact {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted var(--bg-color4);
}

.contact span {
    visibility: hidden;
    width: 120px;
    background-color: rgba(0, 0, 0, 0);
    color: rgba(0, 0, 0, 0);
    text-align: center;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    width: 120px;
    top: 100%;
    left: 50%;
    margin-left: -60px;
    transition: 0.3s;
}

.contact:hover span{
    background-color: var(--bg-color4);
    color: var(--title-color);
    visibility: visible;
}